body{
    background-color:moccasin;
}

table{
    background-color: white;
    border-collapse: collapse; 
    text-align:center;
    padding-top: 30px;	
	height:20px;
    width: 50px;
    width: 25%;
}

td{
    border: 2px solid black;
    font-family: sans-serif;
    width: 500px;
    height: 100px;
}

img{
    padding-top: 20px;
    padding-left: 750px;
    width: 421px;
    height: 750px;
    position: fixed;
}

.bottone{
    background-color: rgb(0, 247, 255);
    border: 10px;
    color: darkmagenta;
    text-align: left;
    font-size: 50px;
    font-family: sans-serif;
    float: left;
    right: 100px;
    bottom: 50px;
}

tr{
    border:10px;
    color: black;
}
